// Specific CSS for your home-page
#page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 5rem;    /* Footer height */
}

.search-bar {
  display: flex;
  margin-top: 64px;
}

#margin-button {
  margin: -2px;
}

@media(max-width: 768px) {
  .search-bar {
    justify-content: start;
    margin-top: 16px;
  }
}
