<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url 'ties.jpg' %>');">
  <div class="container">
    <h1>The first platform where you can rent your tie !</h1>
    <p>Change your life and rent the tie you like.</p>
    <a class="btn btn-danger" href="#">Rent now</a>
  </div>
</div>

<div class="container pt-5">
  <h3 class="text-center"><cite>" Let's rent a tie for all moments you need to be like a king "</cite></h3>
  <br>
  <hr>
  <br>

  <h5>Last ties to rent</h5>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Breakfast
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      Lunch
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
        Dinner
    </div>

  </div>

</div>


