<!-- index.html.erb -->

<h1>My Ties</h1>

<div class="container">
  <div class="row">

    <% @ties_to_rent.each do |tie| %>

    <div class="col-sm-3">
      <div class="card-trip">
        <%= cl_image_tag("ties/pure-silk-sky-blue-black-repp-tie_hsq3b1", width: 400, height: 300, crop: :fill) %>
        <!-- <img src="https://res.cloudinary.com/dor6vw0ll/image/upload/v1614120461/ties/tie-in-silk-twill_1_izodvv.jpg/> -->
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src="https://avatars.githubusercontent.com/u/69241713?v=4" class="card-trip-user avatar-bordered" />
        </div>
      </div>


    <% end %>

  </div>
</div>

