<!-- index.html.erb -->

<h1>My Ties</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card-trip">
        <img src="https://www.loding.fr/che/1664-big_default/pure-silk-sky-blue-black-repp-tie.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src="https://avatars.githubusercontent.com/u/69241713?v=4" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>
  </div>
</div>

